# ==========================================
# TERRAFORM
# ==========================================
# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files (sensitive data)
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files
.terraform.tfstate.lock.info

# Ignore CLI configuration files
.terraformrc
terraform.rc

# ==========================================
# PYTHON
# ==========================================
# Byte-compiled / optimized / DLL files (archivos compilados)
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (Entornos virtuales - ¡Muy importante!)
venv/
.venv/
env/
bin/
lib/
develop-eggs/
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nosetests/
.pytest_cache/
.coverage
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables (Archivos de configuración local/secretos)
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.vscode/
